body {
    background-color: #131722;
    height: auto;
    width: auto;
    box-sizing: border-box;
}

.grid-container {
    margin: auto;
    padding: 0px;
    background-color: #131722;
    display: flex;
    flex-wrap: wrap;
}

.grid-container div {
    height: 480px;
    width: 660px;
    display: flex;
    align-items: center;
    justify-content: center;
}