* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: red;
}

.grid-container {
    margin: auto;
    padding: 0px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}

.grid-container div {
    height: 280px;
    width: 410px;
    margin-bottom: 5px;
    color: blue;
    font-size: 1.3rem;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}